[build]
  base = "frontend-web"
  publish = "build"
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  REACT_APP_API_URL = "https://chemical-visualizer-api.onrender.com/api"
